[submodule "ThirdParty/MonoGameModified"]
	path = ThirdParty/MonoGameModified
	url = https://github.com/gameoflord012/MonoGameModified.git
[submodule "ThirdParty/monogame-aseprite"]
	path = ThirdParty/monogame-aseprite
	url = https://github.com/gameoflord012/monogame-aseprite.git
[submodule "ThirdParty/MonoGameExtended"]
	path = ThirdParty/MonoGameExtended
	url = https://github.com/gameoflord012/MonoGame.Extended.git
[submodule "ThirdParty/VelcroPhysics"]
	path = ThirdParty/VelcroPhysics
	url = https://github.com/gameoflord012/VelcroPhysics.git
